.cont {
    display: flex;
    justify-content: center;
    align-items: end;
    height: 19em;
}

@media (min-width: 768px) {
    .cont {
        height: 23em;
    }
}

@media (min-width: 1024px) {
    .cont {
        height: 15em;
    }
}