.cont {
    display: flex;
    justify-content: center;
    align-items: end;
    height: 20em;
}

@media (min-width: 768px) {
    .cont {
        height: 17em;
    }
}

@media (min-width: 1024px) {
    .cont {
        height: 15em;
    }
}