:root{
    --blanco: #ffffff;
    --oscuro: #212121;
    --primario: #ffc107;
    --secundario: #d70808;
    --gris: #757575;
    --gris-claro: #dfe9f3;

}

a{
    text-decoration: none;
}

.contenedor{
    max-width: 90rem;
    margin: 5rem auto;

    /* 0 auto 0 auto */
    /* 0auto */
}


.sombra{

    padding: 2rem;
    border-radius: 1rem;

    background-color: rgba(7, 7, 7, 0.56); /* Fondo semitransparente */

    box-shadow: 0px 0px 6px 6px rgba(0,0,0,0.75); /* Sombra sutil */

    text-align: center; /* Alineación del texto al centro */
}

/* servicios */

@media (min-width: 768px) {
    .servicios {
        display: grid;
        grid-template-columns:  repeat(3, 1fr);  /* 3.33% 3.33% 3.33% */  /* 1fr 1fr 1fr */
        column-gap: 1rem;

    }
}

.servicio {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.servicio h3 {
    color: var(--secundario);
    font-weight: normal;
    margin: 1rem 0;

}

.servicio p {
    line-height: 2;
    text-align: center;
}

.servicio .iconos img {
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    object-fit: cover;
    /*display: flex;
    justify-content: space-evenly;
    align-items: center;*/
}