.container_background {
    position: relative; /* Necesario para la superposición */
    background-image: url("../../img/fondo.jpeg");
    background-size: cover; /* Asegura que la imagen cubra todo el contenedor */
    background-position: center; /* Centra la imagen en el contenedor */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    height: 50vh;
    z-index: 1; /* Asegura que el contenido esté sobre el pseudo-elemento */
    padding-top: 80px;
}

.container_background::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Superposición negra con opacidad */
    z-index: -1; /* Coloca la superposición por debajo del contenido */
    pointer-events: none; /* Asegura que la superposición no bloquee la interacción */
}

.contenedor_staff{
    max-width: 90rem;
    margin: 5rem auto;
}

@media (max-width: 768px) {
    .contenedor_staff{
        margin: 13rem 0 auto;
    }
    
}