/*Modal request*/

.modal-content {
    background-color: #343a40; /* Fondo oscuro */
    color: #f8f9fa; /* Texto claro */
    border: none;
}

.modal-header {
    border-bottom: 1px solid #495057; /* Línea de separación tenue */
}

.modal-title {
    color: #f8f9fa; /* Texto claro */
}

.btn-close {
    filter: invert(1); /* Invertir colores del botón de cierre para modo oscuro */
}

.cc_request_f input[type="text"] {
    background-color: #495057; /* Fondo oscuro para inputs */
    color: #f8f9fa; /* Texto claro */
    border: 1px solid #6c757d; /* Borde acorde al modo oscuro */
    padding: 0.375rem 0.75rem;
    margin-bottom: 0.75rem;
    width: 100%;
    box-sizing: border-box;
}

.cc_request_f input[type="button"] {
    background-color: #6c757d; /* Botón con fondo oscuro */
    color: #f8f9fa; /* Texto claro */
    border: 1px solid #6c757d;
    padding: 0.375rem 0.75rem;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
}

.cc_request_f input[type="button"]:hover {
    background-color: #5a6268; /* Fondo más oscuro al pasar el mouse */
    border-color: #545b62;
}

.modal-footer{
    display: flex;
    justify-content: center;
}

.cc_request_form *[data-type="result"],
#cc_request_result {
    padding: 3px 8px;
    background-color: #a40202 !important;
    margin-bottom: 5px;
    display: none;
    text-align: center;
}

/*recent tracks*/

.cctrack {
    margin-bottom: 8px !important;
    border-bottom: 1px dashed #c8c7c7;
}

.cctrack .cccover {
    padding: 1px;
    background-color: transparent !important;
    border: none !important;
    float: left;
    clear: left;
}

.cctrack .cccover img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
}

.cctrack .cctitle {
    color: #a40202 !important;
    font-weight: 700;
}

.cctrack .ccnowplaying {
    color:  red !important;
    font-weight: 700;
}

.cctrack .ccartist {
    color: #ffffff !important;
    margin-bottom: 4px;
}

.cctrack .ccalbum {
    color: #aaa7a7 !important;
    margin-bottom: 8px !important;
}

.cctrack a.ccbuy,
.cctrack a.ccbuy:link,
.cctrack a.ccbuy:active,
.cctrack a.ccbuy:visited,
.cctrack a.ccbuy:hover {
    display: none !important;
}