/* songRequest.module.css */
.container {
    background-color: rgba(7, 7, 7, 0.56); /* Fondo blanco para el componente */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0px 0px 6px 6px rgba(0,0,0,0.75); /* Sombra sutil */
    padding: 20px; /* Espaciado interno */
    text-align: center; /* Alineación del texto al centro */
    width: 40vw; /* Ancho fijo para el cuadro */
    height: auto; /* Alto automático basado en el contenido */
}
