.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(7, 7, 7, 0.56); /* Fondo semitransparente */
  border-radius: 8px; /* Bordes redondeados */
  box-shadow: 0px 0px 6px 6px rgba(0, 0, 0, 0.75); /* Sombra sutil */
  padding: 10px 10px 5px; /* Espaciado interno */
  text-align: center; /* Alineación del texto al centro */
  width: 90vw; /* Ancho fijo para el cuadro */
  max-width: 500px;
  color: white; /* Texto blanco */
}

.title {
  color: #ff0000;
  background-color: rgba(7, 7, 7, 0.782);
  border-radius: 10px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 15px;
  width: calc(100% - 20px);
}

.iframeWrapper {
  width: 100%;
  overflow: hidden;
  border-radius: 6px;
}

.historyFrame {
  pointer-events: none; /* Desactiva la interacción del usuario */
  width: 100%;
  height: 230px;
  border: none;
  border-radius: 6px;
}

@media (min-width: 768px) {
  .container {
    padding: 10px 10px 5px; /* Espaciado interno */
  }

  .historyFrame {
    height: 318px;
  }
}

@media (min-width: 1024px) {
  .container {
    display: block;
    text-align: center;
    width: 40vw;
    max-width: 715px;
  }

  .title {
    background-color: transparent;
    text-align: right;
    margin-bottom: 12px;
  }
}
