
.buttonContainer {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-top: 24px
}

.buttonBlog{
    padding: 8px 18px;
    border-radius: 6px;
    border: none;
    background: #232323;
    color: #ff0055;
    font-weight: bold;
}

.buttonDisabled {
    cursor: not-allowed;
    opacity: 0.5;
}
.buttonEnabled {
    cursor: pointer;
    opacity: 1;
}