/* Estilos del contenido del modal - Diseño transparente similar a recentTrack */
.modal-content {
    background-color: rgba(7, 7, 7, 0.56); /* Fondo semitransparente similar a recentTrack */
    color: #f8f9fa; /* Texto claro */
    border: none;
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0px 0px 6px 6px rgba(0, 0, 0, 0.75); /* Sombra sutil similar a recentTrack */
}

/* Estilos del encabezado del modal */
.modal-header {
    border-bottom: 1px solid rgba(149, 157, 165, 0.2); /* Línea de separación tenue y transparente */
    background-color: rgba(7, 7, 7, 0.3); /* Fondo ligeramente más oscuro */
    border-radius: 8px 8px 0px 0px; /* Bordes redondeados solo en la parte superior */
}

.modal-title {
    color: #f8f9fa; /* Texto claro */
    font-weight: bold;
}

/* Estilos del botón de cierre */
.btn-close {
    filter: invert(1); /* Invertir colores del botón de cierre para modo oscuro */
    opacity: 0.8;
}

.btn-close:hover {
    opacity: 1;
}
